<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>terrarium</title>
    <meta property="og:image" content="/assets/img/Kopia%20Bez%20tytułu.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% block bokeh %}
    {% endblock %}
</head>

<body style="background: #ffdec6;">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <header class="text-center">
        <div class="row" style="font-size: 85px;"><img class="img-fluid" src="/assets/img/Kopia%20Bez%20tytułu.png" width="9%">
            <p class="text-nowrap" style="background: ffdec6;margin: 0;">Projekt terrarium</p>
        </div>
    </header>
    <div style="margin: 8px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5" style="border-radius: 40px;background: #fac096;padding: 15px 15px;margin: 15px;padding-bottom: 0;">
                    <div style="border-radius: 0px;">
                        <!-- Start: wymiary -->
                        <form action="" method="POST">
                            <div class="form-group">
                                <div class="col">
                                    <div class="row d-flex">
                                        <div class="col"><label class="col-form-label">głębokość terrarium [cm]</label></div><input id="glebokosc" name="glebokosc" type="number" placeholder="40" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;" value="40" min="20">
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">szerokość terrarium [cm]</label></div><input id="szerokosc" name="szerokosc" type="number" placeholder="60" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;" value="60" min="20">
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">wysokość terrarium [cm]</label></div><input id="wysokosc" name="wysokosc" type="number" placeholder="40" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;" min="20" value="40">
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">grubość ścianek [mm]</label></div><input id="grubosc_scianek" name="grubosc_scianek" type="number" placeholder="10" step="0.1" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;" value="10" min="0.1">
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">grubość frontu [mm]</label></div><input id="grubosc_frontu" name="grubosc_frontu" type="number" placeholder="5" step="0.1" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;" min="0.1" value="5">
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">materiał ścianek</label></div><select id="material_scianek" name="material_scianek" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;">
                                            <option value="0.16" selected="">sklejka</option>
                                            <option value="0.8">szkło</option>
                                            <option value="0.4">drewno dębowe</option>
                                            <option value="0.4">drewno bukowe</option>
                                            <option value="0.3">drewno świerkowe</option>
                                            <option value="0.3">drewno sosnowe</option>
                                            <option value="0.13">płyta wiórowa</option>
                                            <option value="0.19">pleksiglas</option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">materiał frontu</label></div><select id="material_frontu" name="material_frontu" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;">
                                            <option value="0.16">sklejka</option>
                                            <option value="0.8" selected="">szkło</option>
                                            <option value="0.4">drewno dębowe</option>
                                            <option value="0.4">drewno bukowe</option>
                                            <option value="0.3">drewno świerkowe</option>
                                            <option value="0.3">drewno sosnowe</option>
                                            <option value="0.13">płyta wiórowa</option>
                                            <option value="0.19">pleksiglas</option>
                                        </select>
                                    </div>                     
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">temperatura otoczenia</label></div><input id="temperatura_otoczenia" name="temperatura_otoczenia" class="d-flex" type="number" placeholder="15" step="0.1" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;" value="15">
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">temperatura zadana dzień</label></div><input id="temperatura_dzien" name="temperatura_dzien" class="d-flex" type="number" placeholder="24" step="0.1" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;" value="24">
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label">temperatura zadana noc</label></div><input id="temperatura_noc" name="temperatura_noc" type="number" placeholder="22" step="0.1" style="border-radius: 10px;border-style: solid;border-color: #ffab6d;" value="22">
                                    </div>
                                    <div class="row">
                                        <input type="submit" name="oblicz" value="Oblicz" />
                                    </div>       
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="col-md-5" style="border-color: var(--gray);border-radius: 4px;margin: 15px;padding: 0px;">
                    <div style="background: #fac096;border-radius: 40px;padding: 15px;">
                        {% block plot %}
                        <div class="d-xl-flex justify-content-xl-center align-items-xl-center"><canvas data-bs-chart="{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;],&quot;fill&quot;:true}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;ticks&quot;:{&quot;beginAtZero&quot;:false}}],&quot;yAxes&quot;:[{&quot;ticks&quot;:{&quot;beginAtZero&quot;:false}}]}}}"></canvas></div>
                    </div>{% endblock %}
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footerfix"></div>
    <footer class="d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-end"><em>By @Qż &amp; co.</em></footer>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>